.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #2d46b9;
    color: #f6b6bf;
}

.filter-container p {
    font-size: 24px;
    font-weight: 700;
}

input {
    margin-left: 50px;
}

label {
    color: white;


}

@media only screen and (min-width: 1024px) {
	.filter-container {
      
        justify-content: center;
       
    }
    
    label {
        color: white;
        margin-left: 10px;
    }
}