body {
	display: block;
	width: 100px;
	text-align: center;
	margin-right: 10px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label{
	color: rgb(144, 138, 138);
}

input {
	display: block;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid rgb(223, 215, 215);
}

select {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#altro {
	display: none;
}

#Altro:checked ~ #altro {
	display: block;
}

table {
	margin-top: 50px;
	border: 2px solid rgb(223, 215, 215);
	border-radius: 10px;
	overflow: hidden;
}

input[type="submit"], select {
	background-color: #007bff;
	color: rgb(250, 250, 250);
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

hr {
	border: 2px solid rgb(223, 215, 215);
}

option[value] {
	background-color: white;
	color: black;
}
