.container-seventh-element {
	width: 100%;
	margin-top: 100px;
	padding-bottom: 50px;
	background-color: rgb(46, 46, 46);
}

.container-text-seventh-element {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	text-align: center;
}

.container-text-seventh-element h2 {
	letter-spacing: 0.5em;
	margin-bottom: 30px;
	color: rgba(255, 255, 0, 0.815);
	padding-top: 20px;
}

.container-text-seventh-element p {
	margin-bottom: 30px;
	color: white;
}

.container-cards-seventh-element {
	display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.container-card-seventh {
	position: relative;
    width: calc(50% - 12px);
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 40px 12px 60px;
	background-color: white;
	transition: transform 0.35 ease;
}

.container-card-seventh:hover {
	transform: scale(1.02);
}

.container-card-seventh:hover a {
	transform: translate(-50%, 0);
    opacity: 1;
}

.container-card-seventh h3 {
	margin: 20px 0;
}

.container-card-seventh a {
	font-size: 30px;
	text-decoration: none;
	color: black;
	border: 2px solid yellow;
	border-radius: 50%;
	padding: 0 12px 5px;
	position: absolute;
	bottom: -24px;
    left: 50%;
	opacity: 0;
	transform: translate(-50%, -36px);
	background-color: yellow;
	transition: transform 0.35s ease;
}

@media (min-width: 1024px) {
	.container-cards-seventh-element {
		gap: 20px;
	}

	.container-card-seventh {
		width: calc(25% - 20px);
	}
}