.container-third-element {
	width: 100%;
	margin-top: 20px;
}

.container-content-third-element {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.container-img-third-element {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./../img/background-third.jpg);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

.container-img-third-element img {
	transition: transform 1s ease;
}

.container-img-third-element img:hover {
	transform: scaleX(-1);
}

.container-texts-third-element h2 {
	margin-left: 20px;
	margin-top: 20px;
	font-size: 30px;
	letter-spacing: 0.4em;
	text-align: center;
}

.container-text {
	display: flex;
	gap: 20px;
	margin: 20px 20px;
}

.container-text h3 {
	letter-spacing: 0.7em;
}

.container-icon img {
	border: 2px solid black;
	padding: 10px;
	border-radius: 50%;
}

@media (min-width: 1024px) {
	.container-content-third-element {
		display: flex;
	}

	.container-texts-third-element h2 {
		letter-spacing: 0;
	}

	.container-text h3 {
		letter-spacing: 0.5em;
	}
}